body {
    background-color: transparent;
    margin: 0;
    color: #fff;
    background-color: #222;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wab {
    color: #fff;
    background-color: #222;
}

section.wab {
    flex-shrink: 0; /* Don't grow or shrink */
}

/* Make sure the html and body take up the entire height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Full height and width for the webview */
webview {
    width: 100%;  /* Set to full width */
    height: 90vh; /* 90% of the viewport height, adjust as needed */
    border: none; /* Optional: remove border for a cleaner look */
}

nav {
    width: 100%;
    color: white;
    height: 56px;
    background-color: #333;
    display: flex;
    align-items: center; /* Ensures buttons align vertically */
    gap: 5px; /* Adds spacing between buttons */
    padding: 0 5px; /* Adds padding to nav */
}

nav button {
    color: white;
    width: 40px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    border-radius: 50%; /* Makes it circular */
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0; /* Remove percentage-based padding */
    flex-shrink: 0; /* Prevents buttons from shrinking */
}

nav button:hover {
    background-color: rgba(255, 255, 255, 0.142);
}

/* Gradient Border */
.gradient-border {
    position: relative;
    padding: 2px; /* space for border effect */
    display: flex;
    border-radius: 100px; /* Rounded border */
    align-items: center; /* Centers content inside the box */
    background: linear-gradient(to right, #7302FE, #C421EC);
    width: 100%; /* Ensure it takes full width */
}

.gradient-border .content {
    width: 100%; /* Make content stretch to fill parent */
    background-color: white;
    border-radius: 100px; /* Ensure the inner content has rounded corners */
    color: #333;
    font-family: sans-serif;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers content inside the box */
    padding: 12px;
    background-color: #222;
    border: none;
    color: white; /* Text color */
}

/* Navbar buttons images */
nav button svg {
    width: 17px;
}

html, body {
    height: 100%;
    margin: 0;
}